.dropdown {
    position: fixed;
    top: 10px;
    right: 10px;
}

.dropdown-content {
    display: none;
    position: fixed;
    top: 30px;
    right: 0;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

td{
    overflow-wrap: break-word;
}

/* Main table styles */
.styled-table {
    table-layout: fixed;
    border-collapse: collapse;
    margin: 5px auto;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 80vw;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

/* Header row styles */
.styled-table thead tr {
    background-color: #ff0099;
    color: #ffffff;
    text-align: left;
}

/* Table cell styles */
.styled-table th,
.styled-table td {
    padding: 12px 15px;
    border: 1px solid #a19a9a; /* Add border to each cell */
}

/* Alternating row background color */
.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

/* Active row styles (customize as needed) */
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #ff0099;
}

/* Border for the last row */
.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #ff0099;
}
.date-cell-header {
    width: 4vw;
}

.date-cell{
    width: 4vw;
}

.author-cell-header{
    width: 10vw;
}

.author-cell{
    width: 10vw;
}

.welcome-message {
    text-align: center;
    color: indigo;
    font-family: Verdana, sans-serif;

}

.arrows {
    margin: auto;
    width: 10px;
    padding: 0;
    display: flex;
}

#new-message-and-arrows-container{
    display: flex;
}

.right{
    margin-left: 25px;
}
.left{
    margin-left: -25px;
}

.profile-link a, .messages-link a{
    position: fixed;
    top: 10px;
    left: 10px;
    color: inherit;
    text-decoration: none;
}

.logout-link a{
    position: fixed;
    top: 13px;
    left: 50px;
    color: inherit;
    text-decoration: none;
}

.login-link a{
    position: fixed;
    top: 13px;
    left: 15px;
    color: inherit;
    text-decoration: none;
}
.edit-button a{
    color: inherit;
    text-decoration: none;
}

#profile-container{
    display: block;
    width: 15vw;
    height: 25vw;
    margin-left: 10vw ;
    justify-content: space-evenly;
}

#new-message{
    position: relative;
    left: 10vw;
}

#username-container{
    font-size: 2.5vw;
    align-self: center;
}

#name-container {
    font-size: 1.5vw;
    align-self: center;
}

#email-container {
    font-size: 1vw;
    align-self: center;
}

#name, #login, #email{
    margin: 0;
}

img{
    display: block;
    max-width: 100%;
    object-fit: contain;
    border-radius: 50%;
    margin: auto;
}

#user-information{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

html{
    font-size: 16px;
}