<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit a Gilf</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<h1 th:text="#{updatemessage}"></h1>
<form action = "#" th:action="@{/web/myprofile/editmessage(id=${messageId})}" th:object="${formData}" method="post">
    <p><label for="title"  th:text="#{title} + ':'"/>
        <input id="title" type="text" th:field="*{title}"/>
    <p><label for="body" th:text="#{messagebody} + ':'"/>
        <input id="body" type="text" th:field="*{messageBody}"/>
    <p>
        <label for="privacy" th:text="#{messageprivacy} + ':'"/>
        <select id="privacy" th:field="*{privateMessage}">
            <option th:value="true" th:text="#{private}"></option>
            <option th:value="false" th:text="#{public}"></option>
        </select>
    <p th:if="${#fields.hasErrors('privateMessage')}"
    th:text="${#strings.listJoin(#fields.errors('privateMessage'), ', ')}"></p>
    <p><input type="submit" th:value="#{edit}"/> <input type="reset" th:value="#{reset}"/> <input type="button" th:value="#{back}" onclick="history.back()"/></p>
</form>
</body>
</html>