<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit GilProfile</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<h1 th:text="#{editwelcome}"></h1>
<form action="#" th:action="@{/web/myprofile/edit}" th:object="${formData}" method="post">
    <p><label for="username" th:text="#{username} + ':'"/>
        <input id="username" type="text" th:field="*{userName}"/>
        <p th:if="${#fields.hasErrors('userName')}"
            th:text="${#strings.listJoin(#fields.errors('userName'), ', ')}"></p>
    <p><label for="firstname" th:text="#{firstname} + ':'"/>
        <input id="firstname" type="text" th:field="*{firstName}"/>
        <p th:if="${#fields.hasErrors('firstName')}"
            th:text="${#strings.listJoin(#fields.errors('firstName'), ', ')}"></p>
    <p><label for="lastname" th:text="#{lastname} + ':'"/>
        <input id="lastname" type="text" th:field="*{lastName}"/>
        <p th:if="${#fields.hasErrors('lastName')}"
            th:text="${#strings.listJoin(#fields.errors('lastName'), ', ')}"></p>
    <p><label for="email" th:text="#{email} + ':'"/>
        <input id="email" type="email" th:field="*{email}"/>
        <p th:if="${#fields.hasErrors('email')}"
            th:text="${#strings.listJoin(#fields.errors('email'), ', ')}"></p>
    <p><label for="image" th:text="#{image} + ':'"/>
        <input id="image" type="url" th:field="*{image}"/>
        <p th:if="${#fields.hasErrors('image')}"
            th:text="${#strings.listJoin(#fields.errors('image'), ', ')}"></p>
    <p><input type="submit" th:value="#{submit}"/>
        <input type="reset" th:value="#{reset}"/>
        <input type="button" th:value="#{back}" onclick="history.back()"/></p>
</form>
</body>
</html>