<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Translate GilMessage</title>
    <link rel="stylesheet" href="/static/styles.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<h1 th:text="#{translated.message}"></h1>
<table class="styled-table">
    <thead>
    <tr>
        <th th:text="#{title}"></th>
        <th th:text="#{body}"></th>
        <th class="author-cell-header" th:text="#{author}"></th>
        <th class="date-cell-header" th:text="#{date}"></th>
        <th class="edit-cell-header" th:text="#{lastedit}"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${title}">Important Announcement</td>
        <td th:text="${message}">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
        <td class="author-cell" th:text="${userName}">John Doe</td>
        <td class="date-cell" th:text="${date}">2024-02-27</td>
        <td>
            <p th:text="${lastChanged}"></p>
            <p th:if="${lastChanged != null}" th:text="#{editedby} + ': ' + ${userName}"></p>
        </td>
    </tr>
    </tbody>
</table>
<input class="go-back-btn" type="button" th:value="#{go.back}" onclick="history.back()"/>
</body>
</html>