<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>You are logged in</title>
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/globe-alt.css' rel='stylesheet'>
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/log-out.css' rel='stylesheet'>
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/arrow-right-r.css' rel='stylesheet'>
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/arrow-left-r.css' rel='stylesheet'>
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/comment.css' rel='stylesheet'>
    <link rel="stylesheet" href="/static/styles.css">
    <script defer src="/static/script.js"></script>
</head>
<body>
<div class="dropdown">
    <i class="gg-globe-alt" id="globe-icon"></i>
    <div class="dropdown-content" id="dropdown-content">
        <a th:href="@{${httpServletRequest.requestURI} + '?page=' + ${currentPage} + '&lang=en'}">English</a>
        <a th:href="@{${httpServletRequest.requestURI} + '?page=' + ${currentPage} + '&lang=sv'}">Svenska</a>
    </div>
</div>
<div class="logout-link">
    <a th:href="'/logout'">
        <i class="gg-log-out"></i>
    </a>
</div>
<div class="messages-link">
    <a th:href="'/web/messages'">
        <i class="gg-comment"></i>
    </a>
</div>
<div id="profile-container">
    <div id="img-container">
        <img class="profile-img" id="profile" th:src="${profilepic}" alt="No image found :/"/>
        <div id="user-information">
            <div id="username-container">
                <p id="login" th:text="${userName}">default</p>
            </div>
            <div id="name-container">
                <p id="name" th:text="${name}"></p>
            </div>
            <div id="email-container">
                <p id="email" th:text="${email}">No email registered on user</p>
            </div>
            <div class="edit-button">
                <a th:href="'/web/myprofile/edit'">
                    <button th:text="#{edit}"></button>
                </a>
            </div>
        </div>
    </div>
</div>
<div id="new-message-and-arrows-container">
    <div id="new-message">
        <a th:href="'/web/myprofile/create'">
            <button th:text="#{newmessage}"></button>
        </a>
    </div>
    <div class="arrows">
        <a class="left" th:if="${currentPage>0}" th:href="'/web/myprofile?page=' + ${currentPage - 1}">
            <i class="gg-arrow-left-r"></i>
        </a>
        <a class="right" th:if="${messages.size()==10 && totalMessages -1 > 10}"
           th:href="'/web/myprofile?page='+${currentPage+1}">
            <i class="gg-arrow-right-r"></i>
        </a>
    </div>
</div>
<table class="styled-table">
    <thead>
    <tr>
        <th class="edit-cell-header" th:text="#{edit}"></th>
        <th th:text="#{title}"></th>
        <th th:text="#{body}"></th>
        <th class="author-cell-header" th:text="#{author}"></th>
        <th class="date-cell-header" th:text="#{date}"></th>
        <th class="edit-cell-header" th:text="#{lastedit}"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="message : ${messages}"  >
        <td id="edit-button">
            <a th:href="'/web/myprofile/editmessage?id=' +${message.id}">
            <button class="editBtn" th:text="#{edit}" >Edit</button>
            </a>
        </td>
        <td th:text="${message.title()}">Important Announcement</td>
        <td th:text="${message.messageBody()}">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
        <td class="author-cell" th:text="${message.userUserName()}">John Doe</td>
        <td class="date-cell" th:text="${message.date()}">2024-02-27</td>
        <td>
            <p th:text="${message.lastChanged()}">
            </p>
            <p th:if="${message.lastChanged() != null}" th:text="#{editedby}+ ':' +${message.userUserName()}">
            </p>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>