<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to GilfGang website</title>
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/globe-alt.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
<div class="dropdown" id="dropdown">
    <i class="gg-globe-alt" id="globe-icon"></i>
    <div class="dropdown-content" id="dropdown-content">
        <a th:href="@{${httpServletRequest.requestURI} + '?lang=en'}">English</a>
        <a th:href="@{${httpServletRequest.requestURI} + '?lang=sv'}">Svenska</a>

    </div>
</div>
<script src="/static/script.js"></script>

<h1 class="welcome-message" th:text="#{welcome}"></h1>

<table class="styled-table">
    <thead>
    <tr>
        <th th:text="#{title}"></th>
        <th th:text="#{body}"></th>
        <th th:text="#{author}"></th>
        <th th:text="#{date}"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="message : ${messages}">
        <td th:text="${message.title()}">Important Announcement</td>
        <td th:text="${message.body()}">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
        <td th:text="${message.userName()}">John Doe</td>
        <td th:text="${message.date()}">2024-02-27</td>
    </tr>
    </tbody>

</table>

</body>
</html>